---
layout: default
---


<style>
  #outer_div{
    height: 80%;
  }

  #outer_boundary {
    border-radius: 30px;
    border-width: 1px;
    padding: 20px;
    border-color: #32a852;
    margin: 5%;
    background-color: #fafcfb;
  }

  #info {
    height: 20%;
  }

  #source_info {
    width: 80%;
    height: 100%;
    padding-left: 5%;
  }

  #editions {
    border-radius: 30px;
    border-width: 1px;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-color: #32a852;
    background-color: white;
  }

  #separator{
    height: 10%;
  }

  #editions_table{
    width: 100%
  }

  #infotable{
    border-spacing: 30px;
  }

  #title {
    font-size: 30px;
  }

  th{
    text-align: left;
  }

  tr {
    border-radius: 30px;
    border: 4px solid;
    padding: 5%;
    border-color: #32a852;
  }


  .h2 {
    font-family: helvetica 
  }

  .entry {
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    border-color: #32a852;
    border-width: 1px;
    border-style: solid;
    margin: 2px;
  }

  a {
    text-decoration: none
  }

  a:visited{
    color:blue;
  }

  legend {
  max-width: 75%;
  border-radius: 30px;
  background-color: white;
  padding: 5px;
}

</style>

<div id="outer_container">
  <fieldset id="outer_boundary">
    <legend style="background-color: #fafcfb" id="title">{{page.title_translit}}</legend>
    <div id="info">
      <div id="source_info">
        <table id="infotable">
          <tr>
            <td style="font-weight: bold">id</td>
            <td><img style="vertical-align: middle" src="/assets/icon.png" width="16">&nbsp;{{page.id}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Translator</td>
            <td>
              {% for translator in page.translator %}
              {{translator.name_translit}}
              {% endfor %}
            </td>
          </tr>
          <tr>
          	<td style="font-weight: bold">Source text</td>
          	<td>
			{% for source in site.data.source_2024_07_30 %}
				{% if source.id == page.source[0] %}
              <a href="http://127.0.0.1:4000/id/{{source.id}}"><span class="entry">{{source.title}}</span></a>
				{% endif %}
			{% endfor %}
		</td>
          </tr>
        </table>
        <br>
      </div>
    </div>
    <fieldset id="editions">
      <legend>Editions</legend>
      <table id="editions_table">
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th>Place</th>
          <th>Publisher</th>
          <th>Year</th>
        </tr>
        {% for edition in page.editions %}
        	<tr>
        		<td>{{edition.type}}</td>
        		<td>{{edition.title_translit}}</td>
        		<td>{{edition.place}}</td>
        		<td>{{edition.publisher_translit}}</td>
        		<td>{{edition.year}}
        	</tr>
            {% endfor %}
          </table>
        </fieldset>
      </fieldset>
    </div>

