---
layout: default
---

<script>
function showVolumes() {
  var x = document.getElementById("volumes");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
</script>

<title>{{page.title_translit}}</title>
<style>
#outer_div{
height: 80%;
}

#outer_boundary {
border-radius: 30px;
border-width: 1px;
padding: 20px;
border-color: #32a852;
margin: 5%;
background-color: #fafcfb;
min-width: 1000px;
}

#info {
height: 20%;
}

#source_info {
width: 80%;
height: 100%;
padding-left: 5%;
}

#editions {
border-radius: 30px;
border-width: 1px;
margin-left: 3%;
margin-right: 3%;
padding-left: 3%;
padding-right: 3%;
border-color: #32a852;
min-width: 700px; 
background-color: white;
overflow-wrap: break-word;
}

#editions td {
max-width: 400px;
}

#separator{
height: 10%;
}

#editions_table{
width: 100%;
min-width: 400px;
}

#editions_table td {
max-width: 18%;
min-width: 18%;
width: 25%;
padding-left: 10px;
padding-right: 10px;
}

th {
max-width: 18%;
min-width: 18%;
width: 25%;
padding-left: 10px;
padding-right: 10px;
}

#infotable{
border-spacing: 30px;
}

#title {
font-size: 30px;
}

th{
text-align: left;
}

tr {
border-radius: 30px;
padding: 5%;
}


.h2 {
font-family: helvetica 
}

.entry {
border-radius: 30px;
background-color: white;
padding: 10px;
border-color: #32a852;
border-width: 1px;
border-style: solid;
margin: 2px;
}



a {
text-decoration: none
}

a:visited{
color:blue;
}

legend {
max-width: 75%;
border-radius: 30px;
background-color: white;
padding: 5px;
}

</style>

<div id="outer_container">
  <fieldset id="outer_boundary">
    <legend style="background-color: #fafcfb" id="title">{{page.title_translit}}</legend>
    <div id="info">
      <div id="source_info">
        <table id="infotable">
          <tr>
            <td style="font-weight: bold">id</td>
            <td>
              <a href="/id/{{page.id}}"><span class="entry"><img style="vertical-align: middle" src="/assets/icon.png" width="16">&nbsp;{{page.id}}</span></a>
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold">Translator</td>
            <td>
              {% for translator in page.translator %}
              {{translator.name_translit}}<br>
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold; white-space:nowrap; overflow: none;">Source text</td>
            <td>
              {% for source in site.data.source %}
              {% if source.id == page.source[0] %}
              {% if source.title == nil %}
              <a href="/id/{{source.id}}"><span class="entry">Unknown source</span></a>
              {% else %}
              <a href="/id/{{source.id}}"><span class="entry">{{source.title}}</span></a>
              {% endif %}
              {% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr>
            <td style="font-weight: bold">Notes</td>
            <td>
              {{page.notes}}
            </td>
          </tr>
        </table>
        <br>
      </div>
    </div>
    <fieldset id="editions">
      <legend>Editions</legend>
      <table id="editions_table">
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th>Place</th>
          <th>Publisher</th>
          <th>Year</th>
          <th>Volumes</th>
        </tr>
        {% for edition in page.editions %}
        <tr>
          <td>{{edition.type}}</td>
          <td>{{edition.title_translit}}</td>
          <td>{{edition.place}}</td>
          <td>{{edition.publisher_translit}}</td>
          <td>{{edition.year}}</td>
          <td>
            {% for volume in edition.volumes%}
            <a href="https://archive.org/details/{{volume.source_db_id}}">

              {% if volume.number == nil %}
              #1
              {% else %}
              #{{volume.number}}
              {% endif %}
              </a>
            {% endfor %}
          </td>
        </tr>
          {% endfor %}
      </table>
    </fieldset>
  </fieldset>
</div>

